.card-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border: 1px solid #ccccccca;
    /* padding: 10px; */
    flex: 1;
    /* max-width: 300px; */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

[data-md-color-scheme="slate"] .card {
    border: 1px solid #cccccc43;
    /* padding: 10px; */
    flex: 1;
    /* max-width: 300px; */
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.card:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

[data-md-color-scheme="slate"] .card:hover {
    transform: scale(1.08);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}